# Ignore all files in the root directory
*
*/**

# Track dirs
!src
!src/**
!scripts
!scripts/**
!public
!public/**
!src-tauri
!src-tauri/**

# Track files
!.gitignore
!.prettierignore
!.prettierrc
!index.html
!package.json
!pnpm-lock.yaml
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!vitest.config.ts
!README.md
!screenshot.jpg
!.vscode
!.vscode/extensions.json

# Ignore files
.DS_Store
