@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --lempify-primary: rgb(56, 182, 255);
  --lempify-primary-50:  #e3f5ff;
  --lempify-primary-100: #b9e4ff;
  --lempify-primary-200: #8fd3ff;
  --lempify-primary-300: #65c2ff;
  --lempify-primary-400: #3bb1ff;
  --lempify-primary-500: #38b6ff; /* Base */
  --lempify-primary-600: #2693d1;
  --lempify-primary-700: #1970a3;
  --lempify-primary-800: #0b4d75;
  --lempify-primary-900: #002a47;

  --lempify-bg-light: #ffffff;
  --lempify-bg-dark: #0d1117;
  --lempify-text-light: #1f2937;
  --lempify-text-dark: #d1d5db;

  /* Default light theme */
  --lempify-bg: var(--lempify-bg-light);
  --lempify-text: var(--lempify-text-light);
}

/* Manual dark mode override */
.dark {
  --lempify-bg: var(--lempify-bg-dark);
  --lempify-text: var(--lempify-text-dark);
}

/* System preference dark mode */
@media (prefers-lempify-scheme: dark) {
  :root {
    --lempify-bg: var(--lempify-bg-dark);
    --lempify-text: var(--lempify-text-dark);
  }
  
  /* Override system preference when manual dark mode is active */
  .light {
    --lempify-bg: var(--lempify-bg-light);
    --lempify-text: var(--lempify-text-light);
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
